body {
    margin: 0;
    max-height: 100vh;

    --spacing-to-window: 20px;
}

main {
    position: relative;
    overflow: clip;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
}

.output {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.output__serial-data {
    text-align: right;
}

.output__text-input {
    max-height: 100vh;
    overflow: clip;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: var(--spacing-to-window);
}

.output__text-input p {
    margin: 5px 0 0 0;
}

