body {
    margin: 0;
    max-height: 100vh;
}

main {
    position: relative;
    overflow: clip;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
}

.output {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.output__serial-data {
    text-align: right;
}

