body {
    width: 100vw;
    height: 100vh;
    overflow: clip;
    margin: 0;
    position: relative;
    cursor: none;
    font-family: 'Consolas';
}

.content {
    position: absolute;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    pointer-events: none;
}

.json-input p.entry {
    margin: 0 0 5px;
    font-size: 12px;
    max-width: 250px;
    display: flex;
}

#data-visualization {
    max-height: calc(100vh - 145px);
    overflow: clip;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.captcha {
    text-align: right;
}